@model spots.Models.Account.Viewmodels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row text-lg mg-xlg-up text-center">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 color-test">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
        @Html.AntiForgeryToken()
        <h4>Just enter your email.</h4>
        <hr />
        <div class="row text-md text-left">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Email, new {@class = "control-label"})
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-12 col-md-offset-0" id="error-section">
                        @Html.ValidationSummary("", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-0 col-xs-12 col-md-offset-1 col-md-10">
                        <div class="form-group">
                            <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2">
                                <button type="submit" class="btn btn-default btn-md btn-block btn-standard mg-sm-up">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Email link
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }
    </div>
</div>


@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}
