<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Spots</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/knockout")
    </head>
    <body class="bg-color-standard-white">
        @Html.Partial("_NavbarPartial")
        <div class="container-fluid body-content">
            @RenderBody()
            <div class="text-center mg-lg-up pd-md-up border-up border-standard-light">
                @Html.Partial("_FooterPartial")
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
