@model spots.Models.Event.ViewModels.EventDetailsViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_InLayout.cshtml";
}

<div class="row mg-md-up mg-md-down">
    <div class="col-xs-12 text-center">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<hr class="border-standard-light" />
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <!--Invited section-->
            <div class="col-sm-3">
                <div class="row mg-sm-up">
                    <div class="col-xs-12">
                        <p class="text-center">Who is invited?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!--Invited response-->
                        @Html.Partial("_EventDetailsInvited", Model.Invited)
                    </div>
                </div>
            </div>
            <!--About-->
            <div class="col-sm-9 border-left border-standard-light">
                <div class="row">
                    <!--Sub row adjustment-->
                    <div class="col-sm-12">
                        <!--Event picture-->
                        <div class="row mg-lg-down">
                            <div class="col-xs-12">
                                <img src="~/Content/images/img-empty-3.png" alt="Spot img" class="center-img img-standard img-responsive">
                            </div>
                        </div>
                        <!--Where-->
                        <div class="row mg-sm-down">
                            <div class="col-xs-12 text-center">
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3">
                                        <span class="text-md glyphicon glyphicon-map-marker"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="no-margin">@Model.Location</p>
                                </div>
                                <div class="row">
                                    <p class="no-margin">
                                        @Html.ActionLink(Model.BusinessName, "Details", "Business", new {id = Model.BusinessId}, new { @class = "tracked" })'s
                                        @Html.ActionLink(Model.SpotName, "Details", "Spot", new {id = Model.SpotId}, new { @class = "tracked" })
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--When-->
                        <div class="row mg-sm-down">
                            <div class="col-xs-12 text-center">
                                <div class="row">
                                    <div class="col-xs-6 col-xs-offset-3">
                                        <span class="text-md glyphicon glyphicon-time"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="no-margin">
                                        @Model.StartDatetime - @Model.EndDatetime
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--Details-->
                        <div class="row mg-sm-down">
                            <div class="col-xs-12 text-center">
                                <strong>Details</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2 text-center">
                                @Model.Description
                            </div>
                        </div>
                        <hr class="border-standard-light" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

